// A map of breakpoints
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($breakpoint, $min-or-max: 'min') {
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media screen and (#{$min-or-max}-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include breakpoint($breakpoint) {
    .col#{$modifier}-offset-0 {
      margin-left: 0;
    }

    @for $i from 1 through $grid-cols {
      .col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i)) * 1%;
      }

      .col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i)) * 1%;
      }
    }
  }
}
